.block {
    display: flex;
    width: 360px;
}

.select {
    background-color: #4a3258;
    color: white;
    opacity: 1;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}
div.header {
    position: absolute;
    margin-left: -200px;
    margin-top: 5px;
    opacity: 0;
}

div.block:hover div.header {
    position: relative;
    margin-left: 0;
    opacity: 1;
    transition-duration: 1500ms;


}
div.block:hover div.select {
    opacity: 0;
    transition-duration: 800ms;
}


