.inputContent{
    padding: 20px 20px;
    background-color: rgba(45, 98, 141, 0.7);
    width: 400px;
    height: 100px;
}
.inputContent input {
    color: black;
    opacity: 0.7;
}

.inputContent button{
    cursor: pointer;
}

.usersStyle {
color: #332944;
}

.error {
    border: 2px solid red;
}

.messageError {
    color: #6f1a1a;

}

.buttonError {
    height: 31px;
    width: 50px;
}

.button {
    height: 31px;
    width: 50px;
}